/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
  transition: 200ms ease-in-out;
}

*::-webkit-scrollbar-track {
  background: #15171c;
}

*::-webkit-scrollbar-thumb {
  background-color: #a386e7;
  border-radius: 10px;
  border: 5px solid #15171c;
}
